*{
    margin: 0;
    padding: 0;
}
body{

    background-image: url(imagens/mobilemorning.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: #171b35;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 3em;
}